html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
html {
  -ms-overflow-style: none;
}

body {
  padding: 1em 0em;
  display: grid;
  grid-template-columns: min-content 1fr;
  font-family: system-ui, sans-serif;

  /* this breaks position sticky in Firefox */
  /* overflow-x: hidden; */
}

header {
  grid-column: 1 / 3;
  color: white;
  text-align: center;
}

.navbar {
  background: #fff;
  border: 1px solid;
  padding: 2px;
  box-shadow: 0px 2px 2px #e6e6eb;
}

.navbar a {
  color: #000 !important;
}

nav {
  white-space: nowrap;
  margin: 1em;

  /*  background: #37474F;*/
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}


/* Only stick if you can fit */
@media (min-height: 300px) {
  nav ul {
    position: sticky;
    top: 80px;
    width: 100px;
    background: white;
  }
}

nav ul li a {
  display: block;
  padding: 1rem 0rem;
  color: #000;
  text-decoration: none;
}

nav ul li a.current {
  display: block;
  padding: 1rem 0rem;
  font-weight: 600;
  font-style: italic;

}

main {
  padding-top: 4em;
  padding-bottom: 20rem;
  margin-left: auto;
  margin-right: 4em;
  /*  background: pink;*/
}

section {
  margin: 0 0 6rem 2rem;
  border: 1px solid;
  margin-left: auto;
  margin-right: 0;
  height: 100vh;
  /*  background: yellow;*/
}

footer {
  grid-column: 1 / 3;
  margin: auto;
  padding: 5rem 1rem;
}
